---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation";
import StudySession from "../components/StudySession";

export const prerender = false;

const user = Astro.locals.user;
---

<Layout title="Nauka - FlashLearn AI">
  <Navigation user={user} currentPath="/study" client:load />
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <StudySession client:load />
  </div>
</Layout>
